.get-things-done-container {
  @mixin textarea-decor($width, $align) {
    opacity: 1;
    resize: none;
    width: $width;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;

    &::placeholder {
      font-style: italic;
    }
    @if $align == left {
      text-align: left;
      &::placeholder {
        text-align: left;
      }
    } @else if $align == center {
      ::placeholder {
        text-align: center;
      }
    }
  }
  .giventure-main-activity {
    &.hide {
      display: none;
    }
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "title title title title title" "hint hint hint hint hint";
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;

    > .div {
      background-color: #f0f0f0;
      border: 1px solid #999;
      padding: 10px;
      text-align: center;
    }

    @mixin grid-item-style() {
      align-self: end;
    }

    .item-3 {
      padding-top: 12px;
      grid-column: 1 / span 5;
      grid-row: 3 / span 3;
      .step-textarea {
        height: 30px;
        line-height: 1;
        @include textarea-decor(35vw, left);
      }
    }
    .item-4 {
      grid-column: 4/ span 1;
      grid-row: 6 / span 1;
      align-self: end;
      justify-self: end;

      button{
        padding:5px 10px;
        border-radius: 4px;
        color: white;
        background-color: #1212f7;

        
      }
    }

    .item-1 {
      grid-area: title;
      @include grid-item-style();
      font-size: 1.2rem;
      text-decoration: underline;
      text-decoration-color: #d4d2d2;
      text-underline-offset: 0.2em;
      transition: text-decoration 0.5s ease;
      i {
        font-size: 22px;
        color: #d48b8b;
      }
      .no-underline-icon {
        text-decoration: none;
        margin-right: 5px;
      }
    }
    .item-2 {
      font-size: 1.44rem;
      font-weight: 600;
      grid-area: hint;
      line-height: 17px;
      @include grid-item-style();
      span {
        font-size: 0.833rem;
        font-style: italic;
        color: #958f8f;
      }
    }
  }

  height: 80vh;
  // overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .search-box {
    margin-bottom: 20px;
    position: relative;

    textarea {
      @include textarea-decor(50vw, center);
    }
    textarea.hide {
      opacity: 0;
      display: none;
    }
    .icon-container {
      height: 100%;
      i {
        font-size: 2rem;
        position: absolute;
        right: 5px;
        top: 8px;
      }
    }
  }

  .title {
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
  }

  .main-activity {
    opacity: 1;
  }

  .dot-arrow,
  .icon-container {
    &.hide {
      display: none;
    }
  }
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    &.pink {
      background-color: #d48b8b;
    }
    &.blue {
      background-color: #4a6980;
    }
  }
}
